@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
nav,
main,
aside,
section,
article,
footer,
div {
    display: block;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 128px;
}

#logo {
    display: flex;
    align-items: center;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 32px;
    height: 64px;
}

#logo span {
    color: #3E3F43;
    font-family: Nunito;
    text-transform: uppercase;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
    padding-left: 61px;
}

nav {
    margin-right: 122px;
    display: flex;
    gap: 64px;
}

nav a {
    color: rgb(97, 41, 153, 0.7);
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav a:hover {
    color: rgb(97, 41, 153);
}

.selected {
    color: rgb(97, 41, 153);
}

.top_section {
    background-image: url('../images/background_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;

    font-family: Nunito;
    font-style: normal;
    line-height: normal;
}

.top_section h1 {
    color: #612999;
    font-size: 96px;
    font-weight: 800;
}

.top_section p {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    width: 448px;
}