* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
nav,
main,
aside,
section,
article,
footer,
div {
    display: block;
}

a {
    text-decoration: none;
    cursor: pointer;
}